aext-assistant
aext-assistant-server
aext-core
aext-core-server
aext-panels
aext-panels-server
aext-project-filebrowser-server
aext-share-notebook
aext-share-notebook-server
aext-shared
aext-toolbox
aiobotocore
aiohappyeyeballs
aiohttp
aioitertools
aiosignal
alabaster
alembic
altair
anaconda-anon-usage
anaconda-auth
anaconda-catalogs
anaconda-cli-base
anaconda-client
anaconda-navigator
anaconda-project
annotated-types
anyio==3.7.1
appdirs==1.4.4
applaunchservices
appnope
appscript
archspec
argon2-cffi
argon2-cffi-bindings
arrow
asgiref==3.8.1
astroid
astropy
astropy-iers-data
asttokens
async-lru
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker
bokeh
boltons
botocore
Bottleneck
branca
Brotli
cachetools
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
colorcet
comm
conda
conda-build
conda-content-trust
conda-libmamba-solver
conda-pack
conda-package-handling
conda-repo-cli
conda-token
conda_index
conda_package_streaming
constantly
contourpy
cookiecutter
cryptography
cssselect
cycler
cytoolz
dask
dask-expr
datashader
debugpy
decorator
defusedxml
diff-match-patch
dill
distributed
distro
Django==5.2.1
django-cors-headers
django-environ==0.13.0
django-otp==1.6.1
djangorestframework
djangorestframework_simplejwt==5.5.1
dmglib
docstring-to-markdown
docutils
drf-spectacular==0.29.0
et-xmlfile
executing
fastapi==0.104.0
fastjsonschema
filelock
flake8
Flask
folium
fonttools
fpdf==1.7.2
frozendict
frozenlist
fsspec
gensim
geopandas
gitdb
GitPython
greenlet
h11
h5py
HeapDict
holoviews
httpcore
httpx
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keyring
kiwisolver
lazy-object-proxy
lazy_loader
lckr_jupyterlab_variableinspector
libarchive-c
libmambapy
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
Mako
mapclassify
Markdown
markdown-it-py
MarkupSafe
matplotlib==3.9.2
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
menuinst
mistune
more-itertools
mpmath
msgpack
multidict
multipledispatch
mypy
mypy-extensions
navigator-updater
nb_conda_kernels
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy==1.26.4
numpydoc
opencv-python==4.11.0.86
opencv-python-headless==4.8.1.78
openpyxl
overrides
packaging
pandas==2.2.3
pandocfilters
panel
param
parsel
parso
partd
pathspec
patsy
pexpect
pickleshare
pillow
pkce
pkginfo
platformdirs
plotly
pluggy
ply
prometheus-client
prompt-toolkit
Protego
protobuf==4.25.3
psutil
psycopg2-binary==2.9.10
ptyprocess
pure-eval
py-cpuinfo
pyarrow==20.0.0
pyasn1
pyasn1-modules==0.2.8
pybind11==2.13.6
pycodestyle
pycosat
pycparser
pyct
pycurl
pydantic==2.4.2
pydantic-settings==2.0.3
pydantic_core==2.10.1
pydeck
PyDispatcher
pydocstyle
pyerfa
pyflakes
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-CoreServices
pyobjc-framework-FSEvents
pyodbc
pyogrio
pyOpenSSL
pyotp==2.9.0
pyparsing
pypng==0.20220715.0
pyproj
PyQt5==5.15.10
PyQt5-sip
PyQtWebEngine==5.15.6
PySocks
pytest
python-dateutil
python-dotenv
python-json-logger
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-multipart==0.0.6
python-slugify
pytoolconfig
pytz
pyviz_comms
PyWavelets
PyYAML
pyzbar==0.1.9
pyzmq
QDarkStyle
qrcode==7.4.2
qstylizer
QtAwesome
qtconsole
QtPy
queuelib
readchar
referencing
regex
requests
requests-file
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rope
rpds-py
Rtree
ruamel-yaml-conda
ruamel.yaml
ruamel.yaml.clib
s3fs
scikit-image
scikit-learn==1.6.1
scipy
Scrapy
seaborn
semver
Send2Trash
sentry-sdk
service-identity
setuptools==80.9.0
shapely
shellingham
sip
six
smart-open
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
sqlparse
stack-data
starlette==0.27.0
statsmodels
streamlit
sympy
tables
tabulate
tblib
tenacity
terminado
text-unidecode
textdistance
thop==0.1.1.post2209072238
threadpoolctl==3.6.0
three-merge
tifffile
tinycss2
tldextract
toml
tomli
tomlkit
toolz
torch==2.2.2
torchvision==0.17.2
tornado
tqdm
traitlets
truststore
Twisted
typer
typing_extensions
tzdata
uc-micro-py
ujson
ultralytics==8.0.200
unicodedata2
Unidecode
uritemplate==4.2.0
urllib3
uvicorn==0.23.2
w3lib
watchdog
wcwidth
webencodings
websocket-client
Werkzeug
whatthepatch
wheel==0.45.1
widgetsnbextension
wrapt
wurlitzer
xarray
XlsxWriter==3.2.3
xlwings
xyzservices
yapf
yarl
zict
zipp
zope.interface
zstandard
PyPDF2==3.0.1
reportlab==4.2.0
